//mixins
border-radius()
	border-radius: arguments

section.header
	lost-center: 980px

section.header div
	lost-column: 1/1

section.header h1
	background: white
	border-radius: 60px
	color: #0147A7
	text-align: center

section.grid 
	lost-utility: clearfix
	text-align: center

div
	lost-column: 1/2
	+below(m)
		lost-column: 1/1

