<section>
	
	<h1>Flashcard Demo</h1>

	<div class="header">		
		<div class="header-left header-card">
			<h2>Keith Kibaya</h2>
			<p>You are now playing: August Challenge</p>
		</div>
		<div class="header-right header-card">
			<h3>1% <br>Complete</h3>
		</div>
	</div>

	<div id="clouds">
		<!-- <div class="cloud x1"></div>
		Time for multiple clouds to dance around -->
		<div class="cloud x2"></div>
		<div class="cloud x3"></div>
		<div class="cloud x4"></div>
		<div class="cloud x5"></div>
	</div>
	
</section>